
# Max size images upload
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600

# Folder name where images are going to be uploaded
IMAGE_UPLOAD_DIRECTORY=uploads


# Complete URL where images are gona be
IMAGE_SERVER_URL='http://localhost:3000/uploads'